In [1]:
!pip install numpy
!pip install matplotlib
!pip install pandas
!pip install seaborn
!pip install plotly

Requirement already satisfied: numpy in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (1.23.5)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\макс\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\макс\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=0.25 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\макс\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: plotly in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (5.14.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\макс\appdata\local\programs\python\python311\lib\site-packages (from plotly) (23.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
import warnings
warnings.simplefilter('ignore')

In [4]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

## Читання та перегляд набору даних

In [5]:
print(os.path.exists("../data/dataset.csv"))

True

In [6]:
ds = pd.read_csv("../data/dataset.csv")
ds.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [7]:
print('columns count - ',len(ds.columns), '\n')
print('columns: ',list(ds.columns))

columns count -  25

columns:  ['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'satisfaction']

## Missing data imputation

In [8]:
ds.shape

(129880, 25)

In [9]:
ds.dtypes

Unnamed: 0                             int64
id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
dtype: object

In [10]:
for col in ds.columns:
    if ds[col].isnull().values.any():
        print("Missing data in ", col, ds[col].isnull().sum())

Missing data in  Arrival Delay in Minutes 393

In [11]:
# створимо функцію для заповнення відсутніх значень:
def impute_na(df, variable, value):
    return df[variable].fillna(value)

Ця функція приймає датасет, назву стовпця, в якому необхідно замінити відсутні значення (variable) та значення, якими ми заміняємо відсутні значення (value). Функція повертає оновлений стовпець датасету з заміненими відсутніми значеннями.

Вибір між медіаною, середнім та модою для заміни відсутніх значень залежить від розподілу змінної та наявності викидів. Зазвичай середнє значення використовують для змінних з нормальним розподілом та без значущих викидів, медіану - для змінних зі зміщеним розподілом або коли велика кількість викидів, та моду - для категоріальних змінних.

In [12]:
# Знаходження медіани для стовпця
median_arrival_delay = ds['Arrival Delay in Minutes'].median()

In [13]:
# Заміна пропущених значень на медіану
ds['Arrival Delay in Minutes'] = impute_na(ds, 'Arrival Delay in Minutes', median_arrival_delay)

In [14]:
for col in ds.columns:
    if ds[col].isnull().values.any():
        print("Missing data in ", col, ds[col].isnull().sum())
    else:
        print("There aren't missing data")

There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data

## Categorical encoding

In [15]:
# for one hot encoding with sklearn
from sklearn.preprocessing import OneHotEncoder

In [16]:
ds.nunique()

Unnamed: 0                           103904
id                                   129880
Gender                                    2
Customer Type                             2
Age                                      75
Type of Travel                            2
Class                                     3
Flight Distance                        3821
Inflight wifi service                     6
Departure/Arrival time convenient         6
Ease of Online booking                    6
Gate location                             6
Food and drink                            6
Online boarding                           6
Seat comfort                              6
Inflight entertainment                    6
On-board service                          6
Leg room service                          6
Baggage handling                          5
Checkin service                           6
Inflight service                          6
Cleanliness                               6
Departure Delay in Minutes              466
Arrival Delay in Minutes                472
satisfaction                              2
dtype: int64

In [17]:
#categorics
ds[["Gender","Customer Type","Type of Travel","Class","satisfaction"]].head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
2,Female,Loyal Customer,Business travel,Business,satisfied
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
4,Male,Loyal Customer,Business travel,Business,satisfied

## Label encoding

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

ds["Gender"] = le.fit_transform(ds["Gender"])
ds["Customer Type"] = le.fit_transform(ds["Customer Type"])
ds["Type of Travel"] = le.fit_transform(ds["Type of Travel"])
ds["Class"] = le.fit_transform(ds["Class"])
ds["satisfaction"] = le.fit_transform(ds["satisfaction"])

In [19]:
ds.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,1,0,13,1,2,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,0
1,1,5047,1,1,25,0,0,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,0
2,2,110028,0,0,26,0,0,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,1
3,3,24026,0,0,25,0,0,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,0
4,4,119299,1,0,61,0,0,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,1

In [20]:
ds.dtypes

Unnamed: 0                             int64
id                                     int64
Gender                                 int32
Customer Type                          int32
Age                                    int64
Type of Travel                         int32
Class                                  int32
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                           int32
dtype: object

## Опрацювання аномалій

Я використаю метод "Local Outlier Factor" для виявлення та видалення викидів.

In [21]:
from sklearn.neighbors import LocalOutlierFactor

numerical_columns = ['Age', 'Flight Distance', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']

# Ініціалізація моделі LocalOutlierFactor
lof = LocalOutlierFactor(contamination=0.05)  # Встановіть contamination залежно від розміру викидів, які ви очікуєте

# Обчислення оцінки аномалій (викидів) для кожного прикладу в датасеті
outlier_scores = lof.fit_predict(ds[numerical_columns])

# Відображення кількості викидів
outlier_count = len(ds[outlier_scores == -1])
print("Number of outliers:", outlier_count)

# Видалення рядків, що містять викиди
ds = ds[outlier_scores != -1]

# Відображення оновленого датасету без викидів
print(f"Dataset without outliers:{len(ds)}")

Number of outliers: 6494
Dataset without outliers:123386

## Функція масштабування

Ми використовуємо масштабування ознак (Feature Scaling), щоб стандартизувати незалежні ознаки в фіксованому діапазоні, щоб кожна ознака мала приблизно однаковий внесок у модель. З огляду на розподіл моїх даних, ми не можемо використовувати Standard Scaler. Ми будемо використовувати MinMax Scaler, який перетворює діапазон даних на (0,1).

In [22]:
from sklearn.preprocessing import MinMaxScaler


numerics=['Departure Delay in Minutes', 'Arrival Delay in Minutes','Flight Distance',"Age"]

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(ds[numerics])

# Перетворені дані зберігаються у вигляді numpy-масиву, створимо DataFrame для зручності
scaled_df = pd.DataFrame(scaled_data, columns=numerics)

ds[numerics] = scaled_df[numerics]

In [23]:
ds.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,1,0,0.076923,1,2,0.081997,3,4,3,1,5,3,5,5,4,3,4,4,5,5,0.043860,0.028846,0
1,1,5047,1,1,0.230769,0,0,0.036330,3,2,3,3,1,3,1,1,1,5,3,1,4,1,0.001754,0.009615,0
2,2,110028,0,0,0.243590,0,0,0.220418,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0.000000,0.000000,1
3,3,24026,0,0,0.230769,0,0,0.102699,2,5,5,5,2,2,2,2,2,5,3,1,4,2,0.019298,0.014423,0
4,4,119299,1,0,0.692308,0,0,0.032068,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0.000000,0.000000,1